html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    height: 1000px;
}

img {
    max-width: 100%;

}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.contenedor-flex {
    display: flex;
}

/* Nav bar header */

.nav-bar {
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Eater', cursive;
    position: fixed;
    width: 100%;
    z-index: 4;
}

.menu-navbar {
    justify-content: space-between;
    margin-right: 80px;

}

.logo {
    margin: 0 35px;
    font-size: 33px;
    color: #ccbe6d;
    font-family: 'Eater', cursive;
}


.nav-bar {
    justify-content: space-between;
    align-items: center;
    background-color: #1d0b0c;
    padding-top: 7px;
    padding-bottom: 7px;

}

.menu {
    justify-content: space-between;

    min-width: 45%;
    margin: auto 200px;
}


.menu li a {
    color: #ccbe6d;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.menu li a:hover {
    background: #ccbe6d;
    color: black;
    padding: 5px;
}

/* SUB MENU  */
.contenedor-sub-menu {
    position: relative;
}


.contenedor-sub-menu:hover .sub-menu li {
    height: 30px;
    opacity: 1;

}


.sub-menu {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 4;
    top: 53px;
    width: 500px;
    left: -220px;

}

.sub-menu li {
    color: white;
    text-align: center;
    background-color: #1d0b0c;
    height: 0;
    overflow: hidden;
    transition: all .5s ease;
}
/* PERSONAJES */
.personajes{
    background-color: #0f0607;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: double #ccbe6d 6px;

}
.personaje{
    border: double #ccbe6d 6px;
    width: 26%;
    text-align: center;
    margin-top: 90px;
    background-color: #240c0d;
    padding: 20px;
}
.personaje img{
    width: 300px;
    margin: 0px;
    height: 300px;
    border-radius: 8px;    
    border: solid 2px;

}
.personaje p{
    padding-left: 10px;
    padding-right: 10px;
}
 
.libros{
    background-color: #0f0607;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: double #ccbe6d 6px;
   
    
}
.libro{
    border: double 4px;
    width: 50%;
    padding: 80px;
    background-color: #240c0d;
}
.libro h2{
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 8px black;
    color: #ccbe6d;
    font-family: 'Eater', cursive;
    
}
.libro h3{
    font-size: 40px;
    padding-top: 20px;
    text-shadow: 4px 8px black;
}
.libro p{
    padding-bottom: 50px;
}
.botonDescarga{
    background-color:#5c2123;
	border-radius: 8px;
	border:1px solid #0f0607;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;

}
.botonDescarga:hover {
    background-color:#eea112;
    color: black;
}
.botonDescarga:active {
	position:relative;
	top:1px;
}

