body{
    margin:0;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
    font-family: 'Eater', cursive;
}

.contenedor-flex{
    display: flex;
}

.portada{
    background-image: url(../img/964111.png);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-attachment: fixed ;
    height: 100vh;
    justify-content: center;
    align-content: center;
}


.nav-bar{
    justify-content: space-between;
    align-items: center;
    background-color: #1d0b0c;
    padding-top: 7px;
    padding-bottom: 7px;

}

.menu-navbar{
    justify-content: space-between;
    margin-right: 80px;
    
}

.logo{
    margin: 0 35px;
    font-size: 33px;
    color: #ccbe6d;
    font-family: 'Eater', cursive;
}

.nav-bar{
    justify-content: space-between;        
  
}
.menu{
    justify-content: space-between;
    
    min-width: 40%;
    margin: auto 200px;
}

.menu li a{
    color:#ccbe6d ;
}
.nav-bar a:hover{
        background: #ccbe6d;
        color: black;
        padding: 14px 16px;
}


.contenedor-sub-menu{
    position: relative;
}

.contenedor-sub-menu:hover .sub-menu li {
   height: 20px;
    opacity: 1;
  
}

.sub-menu{
    padding: 0;
    margin: 0;
    position: absolute;
   
}

.sub-menu li{
    color: white; 
       text-align: center;
    background-color:black;
    height: 0;
    overflow: hidden;
         transition: all .5s ease;
}
  
.personajes{
    background-color: #0f0607;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: double #ccbe6d 6px;

}
.personaje{
    border: double #ccbe6d 6px;
    width: 26%;
    text-align: center;
    margin-top: 90px;
    background-color: #240c0d;
    padding: 20px;
}
.personaje img{
    width: 300px;
    margin: 0px;
    height: 300px;
    border-radius: 8px;    
    border: solid 2px;

}
.personaje p{
    padding-left: 10px;
    padding-right: 10px;
}
 
.libros{
    background-color: #0f0607;
    color: wheat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: double #ccbe6d 6px;
   
    
}
.libro{
    border: double 4px;
    width: 50%;
    padding: 80px;
    background-color: #240c0d;
}
.libro h2{
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 8px black;
    color: #ccbe6d;
    font-family: 'Eater', cursive;
    
}
.libro h3{
    font-size: 40px;
    padding-top: 20px;
    text-shadow: 4px 8px black;
}
.libro p{
    padding-bottom: 50px;
}
.botonDescarga{
    background-color:#5c2123;
	border-radius: 8px;
	border:1px solid #0f0607;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;

}
.botonDescarga:hover {
    background-color:#eea112;
    color: black;
}
.botonDescarga:active {
	position:relative;
	top:1px;
}

