a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

.contenedor-flex{
    display: flex;
}

.nav-bar{
    justify-content: space-between;        
    margin: 10px 50px;
}
.menu{
    justify-content: space-between;
    
    min-width: 40%;
}

.contenedor-sub-menu:hover .sub-menu li {
   height: 20px;
    opacity: 1;
  
}

.sub-menu{
    padding: 0;
    margin: 0;

}

.sub-menu li  {
    color: green;
    text-align: center;
    background-color: rebeccapurple;
    height: 0;
    overflow: hidden;
         transition: all .5s ease;
}
  